@model IEnumerable<Services.Models.OrderLocal>
@{
    ViewBag.Title = "View Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    /*.label-ad-order {
        float: left;
        margin-left: 14px;
        margin-top: 6px;
    }*/
</style>

<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/Order/order-main.js"></script>

<script src="~/Scripts/bootstrap-multiselect.js"></script>
<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.css" rel="stylesheet" />

<h2>All Orders</h2>
<p>
</p>

<div class="row">
    @*commenting these out for now, these are used for multi-select*@
    @*<div class="col-md-3">
            <div class="form-group">
                <label for="order-status-input" class="label-ad-order">Status</label>
                <select class="form-control" multiple="multiple" id="order-status-input" name="order-status-input"></select>

            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="order-delivered-by-input" class="label-ad-order">Delivered By</label>
                <select class="form-control" multiple="multiple" id="order-delivered-by-input" name="order-delivered-by-input"></select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="order-res-input" class="label-ad-order">Restaurants/Store</label>
                <select class="form-control" multiple="multiple" id="order-res-input" name="order-res-input"></select>
            </div>
        </div>*@
    <div class="col-md-3">
        <div class="form-group">
            <label for="order-status-input" class="label-ad-order">Status</label>
            <select class="form-control" id="order-status-input" name="order-status-input"></select>

        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="order-delivered-by-input" class="label-ad-order">Delivered By</label>
            <select class="form-control" id="order-delivered-by-input" name="order-delivered-by-input"></select>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="order-res-input" class="label-ad-order">Restaurants/Store</label>
            <select class="form-control" id="order-res-input" name="order-res-input"></select>
        </div>
    </div>
    <div class="col-md-3">
        <button class="btn-primary" onclick="orderMainJsObj.searchOrders()">Search</button>
    </div>

</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="date-from-order" class="label-ad-order">Date From</label>
            <input type="text" class="form-control datePicker" id="date-from-order" name="date-from-order">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="date-to-order" class="label-ad-order">Date To</label>
            <input type="text" class="form-control datePicker" id="date-to-order" name="date-to-order">
        </div>
    </div>

</div>
<div id="all-orders-table">
    @RenderPage("~/Views/AdOrders/_OrdersTable.cshtml", Model);
</div>

@*@Scripts.Render("~/bundles/order-main")*@