@{
    ViewBag.Title = "Delivers.pk";
}

<div class="jumbotron">
    @*<h1>ASP.NET</h1>*@
    <p class="lead">Redirecting you to <a href="https://delivers.pk">delivers.pk</a> in 3 seconds ...</p>
    <span id="siteseal">
    <script async type="text/javascript" src="https://seal.starfieldtech.com/getSeal?sealID=Gz8wn8WmfN0MPyc9P13Rcmusplrqry3EFnztptyiUVT9heAKIk4P4G3D9CVI"></script></span>
</div>
<script>
    setTimeout(function () {
      //  window.location.href = "https://delivers.pk";
    }, 3000);
</script>